@charset "UTF-8";
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html {
    background-color:  #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
section#login {
    background-color: white;
    width: 250px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.452);
    transition: width 1s,height 1s;
    transition-timing-function: ease;
}
section#login > div#img{
    background: #5f2c82 url(pexels-eliezer-fernandes-515183518-18750277.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    display: block;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin: 0px 0px 0px 10px;
    font-size: 2em;
}
div#formulario > p {
    font-size: 1em;
}
form >div.campo{
    background-color: #5f2c82;
    width:100%;
    display: block;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
}
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 0px 0px 0px 5px;
}
div.campo >label> input{
    background-color: lightgray;
    font-size: 1em;
    width: calc(100%-44px);
    transform: translateY(-5px);
    height: 100%;
    border-radius: 8px;
}
form > div> input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px ;
    margin-bottom: 10px;
}
form >div> input [type=submit]:hover{
    background-color: gray;
}
form > div> a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 5px;
    text-decoration: none;
}
form >div> a.botao{
background-color: white;
}
